header
	h1 #{name}'s bastion
	ul.list
		li
			if current_link == 'new idea'
				a(href="/ideas/new").activeLink New Idea
			else
				a(href="/ideas/new") New Idea
		li
			if current_link == 'new collection'
				a(href="/collections/new").activeLink New Collection
			else
				a(href="/collections/new") New Collection
		li
			if current_link == 'edit profile'
				a(href="/profile").activeLink Edit Profile
			else
				a(href="/profile") Edit Profile
		li
			a(href="/logout") logout