header
	h1 #{name}'s bastion
	ul.list
		li
			a(href="/") New Idea
		li
			a(href="/") New Collection
		li
			if current_link == 'edit profile'
				a(href="/profile").activeLink Edit Profile
			else
				a(href="/profile") Edit Profile
		li
			a(href="/logout") logout