include ./partials/head
	
body
	#home_page
		.signinBox
			h1 Bastion
			p Fixie single-origin coffee ethical tattooed craft beer four dollar toast retro organic williamsburg offal beard meditation vinyl brooklyn photo booth. Blog tote bag kombucha pop-up.

			block content
	
	if error !== '' && error !== undefined && error !== null
		#error.display_error #{error}