/****************************
 
 GENERAL
  
 ****************************/
/* FONTS */

/* GENERAL STYLING */

* {
	box-sizing: border-box;
}

body {
	color: #0B0014;
}

h1, h2, h3, h4 {
	font-family: 'Pacifico', cursive;
}

p, a, input, label, div, span {
	/*font-family: 'Kalam', cursive;*/
	/*font-family: 'Average Sans', sans-serif;*/
	font-family: 'Quicksand', sans-serif;
}

div {
	font-family: 'Average Sans', sans-serif;
}

h1 {
	margin: 10px 0px;
}

h2 {
	font-family: 'Kalam', cursive;
    font-family: 'Average Sans', sans-serif;
}

h3 {
    font-family: 'Average Sans', sans-serif;
}

h4 {

}

p {
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0.02em;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #000;
}

img {
	max-width: 100%;
}

/* DRY Classes */

.cont {
    max-width: 1400px;
    margin: 0px auto;
    overflow: hidden;
    padding-bottom: 40px;
}

.break {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.makeBtn,
.c_modal button {
    display: inline-block;
    padding: 5px 10px;
    color: aliceblue;
    border-bottom: solid 3px #370075;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn_style {
    background: rgb(81, 51, 119);
}

.btn_style:hover {
    background: rgb(131, 110, 158);
    border-bottom: solid 3px rgb(106, 88, 127);
}

.btn_blueish {
    background: rgb(51, 90, 119);
    border-bottom: solid 3px #354754;
}

.btn_blueish:hover {

}

.list {
	list-style: none;
	padding: 0px;
}

.overlay {
    background: rgba(0,0,0,0.75);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.no_img {
    display: inline-block !important;
}

.disabled {
    background: #ddd !important;
    color: #bbb !important;
}

/* Header */

header {

}

/* form elements */

input, textarea {
    padding: 5px;
    border: solid 1px #d4b19c;
    box-shadow: 3px 3px 0px #d4b19c;
}

input:focus,
textarea:focus {
	outline: none;
	border: solid 1px #614d42;
	box-shadow: 3px 3px 0px #614d42;
}

input + .plus {
    background: #cccccc;
    vertical-align: bottom;
    border-radius: 0px;
    color: #fff;
    font-size: 40px;
    padding: 2px 5px 8px 5px;
    line-height: 0.65em;
    cursor: pointer;
    transition: 0.3s;
}

input + .plus:hover {
    background: #817492;
}

select {

}

textarea {

}

button {
    background: rgb(86, 189, 210);
    border: none;
    padding: 5px 20px;
    border: solid 1px #439bad;
    color: #fff;
    text-transform: uppercase;
}

.input_grey_style {
    padding: 5px;
    border: solid 2px #cccccc;
    box-shadow: none;
    background: #f2f2f2;
}

.input_grey_style:focus {
    background: #efe9ff;
    border: solid 2px #ababab;
    box-shadow: none;
}

/* error box */

#error {
	background: #b52d2d;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    display: none;
}

.display_error {
	display: block !important;
}

.display_success {
    display: block !important;
    background: #88b988 !important;
}

/******************************

	HOME PAGE

*******************************/

#home_page {
    padding: 10px 0px;
    background: linear-gradient(rgba(245, 233, 226, 0.87), rgb(255, 255, 255)), url(../img/home.jpg) no-repeat 50%;
    background-size: cover;
    border-top: solid 3px #4691c7;
}

.signinBox {
	width: 90%;
	max-width: 600px;
	/*background: #F5E9E2;*/
	margin: 40px auto;
	text-align: center;
}

.signinBox h1 {
	font-size: 58px;
    color: #513377;
}

.signinBox p {
    font-size: 22px;
    margin: 45px 0px;
}

.formBox .tab_btn {
    display: inline-block;
    font-size: 18px;
    padding: 10px 15px;
    background: #d4b19c;
    color: #101010;
    text-transform: uppercase;
    cursor: pointer;
    border: solid 1px #d4b19c;
    border-bottom: 0px;
}

.formBox .tab_btn:nth-child(1){
	border-radius: 5px 0px 0px 0px;
}

.formBox .tab_btn:nth-child(2){
	border-radius: 0px 5px 0px 0px;	
}

.formBox .activeTab {
    background: #efd9cb;
    color: #613013;
}

.formBox form {
    background: #efd9cb;
    border-radius: 5px;
    padding: 15px;
    width: 240px;
    margin: -1px auto 0px auto;
    border: solid 1px #d4b19c;
}

.formBox form ul {
	padding: 0px;
    margin: 0px;
    list-style: none;
}

.formBox form ul li {
    margin-bottom: 10px;
}

.formBox form ul li:last-child {
	margin-bottom: 0px;
}

.formBox form button {
    margin-top: 5px;
}

/* header */

header {
    border-bottom: solid 3px #ccc;
    padding: 10px 30px;
}

header h1 {
	color: #513377;
    display: inline-block;
}

header ul {
	float: right;
	margin: 0px;
   /* margin-top: 20px;*/
   margin-top: 5px;
}

header ul li {
	display: inline-block;
}

header ul li:nth-child(1) > a:before {
    background: url(../img/idea.png) no-repeat 50% 0%;
}
header ul li:nth-child(1) > a:hover::before {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    filter: brightness(110%);
}

header ul li:nth-child(2) > a:before {
    background: url(../img/layers.png) no-repeat 50% 0%;
}
header ul li:nth-child(2) > a:hover::before {
    filter: brightness(120%);
}

header ul li:nth-child(3) > a:before {
    background: url(../img/settings.png) no-repeat 50% 0%;
}
header ul li:nth-child(3) > a:hover::before {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    filter: brightness(90%);
}

header ul li:nth-child(4) > a:before {
    background: url(../img/doorway.png) no-repeat 50% 0%;
}
header ul li:nth-child(4) > a:hover::before {
    filter: brightness(120%);
}

header ul li a {
    margin: 0px 10px;
    font-size: 18px;
    font-weight: 600;
    color: #3c3c3c;
    display: inline-block;
    padding-top: 30px;  
    position: relative;
}

header ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 32px;
    top: 0px;
    transition: 0.3s;
}

/* footer */

footer {

}

/* profile */

#main_menu {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#main_menu li {
	display: inline-block;
}

#main_menu li a {
    margin: 0px 10px;
    font-size: 20px;
    color: #909090;
    font-weight: bold;
}

#main_menu li a:hover {
	color: #513377;
}

.activeLink {
    border-bottom: solid 3px #513377;
    color: #513377 !important;
}

.filters li {
	width: 23%;
    display: inline-block;
    margin: 0px 1%;
}

.filters li input {
	width: 100%;
}

.filters label {
    font-weight: bold;
    color: #555;
}

#profile_page {
    text-align: center;
}

/* Editing Pages */

/*#fixed_side {
    position: fixed;
}*/

.edit_page input,
.edit_page textarea {
    width: 100%;
}

.edit_page label {
    font-weight: bold;
}

.box_edit_large {
    width: 80%;
}

#slugBox {
    margin-top: 10px;
    font-style: italic;
    text-align: right;
    margin-bottom: 0px;
    color: #969696;
    font-weight: bold;
}

.box_view_large {
    width: 65%;
}

.box_edit_large.left,
.box_view_large.left {
    padding-right: 20px;
}

.box_edit_large.right,
.box_view_large.right {
    padding-left: 20px;
}

.side {
    width: 20%;
}

.side_view {
    width: 35%;
}

.side.left,
.side_view.left {
    padding-right: 20px;
}

.side.right,
.side_view.right {
    padding-left: 20px;
}

/* Image Gallery */

#img_gallery {

}

#img_gallery li {
    width: 260px;
    display: inline-block;
    height: 260px;
    background: #ebebeb;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 5px;
    position: relative;
}

#img_gallery li .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(51, 31, 76, 0.77);
    padding-top: 104px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    display: none;
    cursor: pointer;
    transition: 0.3s;
}

#img_gallery li:hover > .overlay {
    display: block;
}

#img_gallery li img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    object-position: center;
}

/* Ideas */

#ideas {
    text-align: center;
}

.idea_box {
   /* background: #400054;*/
    width: 250px;
    margin: 15px;
    position: relative;
    color: #fff;
    display: inline-block;
    border: solid 1px #cbc0f1;
}

.idea_box h2 {
    padding: 25px 10px 10px 10px;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.52) 75%);
    position: absolute;
    bottom: 31px;
    width: 100%;
}

.idea_box .actions {
    /*background: #52285f;*/
}

.idea_box .actions a,
.idea_box .actions span {
    /*background: #81628a;*/
    display: inline-block;
    width: 33.333%;
    text-align: center;
    /*color: beige;*/
    color: transparent;
    padding: 5px 0px;
    font-size: 14px;
    cursor: pointer;
}

/*.idea_box .actions a:hover,
.idea_box .actions span:hover {
    background: rgba(125, 58, 166, 0.33);
    color: #400054;
}*/

.actions .view {
    background: #fff url('../img/view.png') no-repeat 50%;
    transition: 0.3s;
}
.actions .view:hover {
    background: #fff url('../img/view.png') no-repeat 80%;
    color: #400054;
    padding: 5px 45px 5px 10px;
}

.actions .edit {
    background: #fff url('../img/pencil.png') no-repeat 50%;   
    background-size: 18px;
    transition: 0.3s;
}
.actions .edit:hover {
    background: #fff url('../img/pencil.png') no-repeat 80%;
    background-size: 18px;
    color: #400054;
    padding: 5px 45px 5px 10px;
}

.actions .delete {
    background: #fff url('../img/rubbish.png') no-repeat 50%;
    background-size: 18px;
    transition: 0.3s;
}
.actions .delete:hover {
    background: #fff url('../img/rubbish.png') no-repeat 85%;
    background-size: 18px;
    color: #400054;
    padding: 5px 45px 5px 10px;
}

.idea_box img {
    height: 222px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.side input {
    width: 220px;
}

.side ul {
    padding-right: 8px;
    font-size: 18px;
}

.side ul li span {
    display: inline-block;
    padding: 5px 10px;
}

.side ul li div {
    display: inline-block;
    float: right;
    background: #efefef;
    padding: 5px 12px;
    vertical-align: -webkit-baseline-middle;
    font-weight: bold;
    color: #797979;
    cursor: pointer;
    transition: 0.3s;
}

.side ul li div:hover {
    background: #dadada;
}

.side ul li {
    background: #f5f5f5;
    border-bottom: solid 1px #e6e6e6;
    padding: 0px;
    color: #404040;
    overflow: hidden;
}

.invalid {
    border: solid 2px #e80000 !important;
}

.loading {
    color: transparent !important;
    background: url('../img/loading.gif') no-repeat 50% !important;
    border: none !important;
}

.bigLoading {
    position: relative;
}

.bigLoading::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 23;
    background: rgba(255, 255, 255, 0.84) url('../img/loading.gif') no-repeat 50% 20px !important;
}

.msg_tick {
    width: 30px;
    height: 30px;
    background: url('../img/tick.png') no-repeat 50%;
    display: none;
}

/* View Idea */ 

.content {
    margin-bottom: 35px;
    margin-top: 30px;
}

.featImg img {
    margin-bottom: 20px;
}

.tagRow {
    overflow: hidden;
}

.tagBox {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.tagBox ul {
    list-style: none;
    padding: 0px;
}

.tagBox ul li {
    list-style: none;
    padding-left: 25px;
    background: url(../img/tag.png) no-repeat 0px 5px;
}

.imgGrid {
    overflow: hidden;
    margin-top: 20px;
}

.imgGrid li {
    position: relative;
    width: 25%;
    height: 175px;
    display: inline-block;
}

.imgGrid li:hover > .lightBoxOverlay {
    display: inline-block;
    cursor: pointer;
}

.imgGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.lightBoxOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75) url(../img/light-box.png) no-repeat 50%;
    display: none;
    transition: 0.3s;
}

.editLink,
.viewLink {
    font-weight: bold;
    color: #6f6f6f;
    padding-right: 35px;
    display: inline-block;
}

.editLink {
    background: url(../img/pencil.png) no-repeat 100%;
    background-size: 24px;
}

.viewLink {
    margin-bottom: 30px;
    background: url(../img/view.png) no-repeat 100%;
    background-size: 24px;
}

/* Collections */

.collection_box {
    display: inline-block;
    margin: 20px 0px;
    position: relative;
    text-align: center;
}

.collection_box h2 {
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 20px;
    padding: 20px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.62), rgba(255, 255, 255, 0));
    color: #fff;
}

.collection_box .actions {
    position: absolute;
    bottom: -2px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.47));
    padding: 20px;
}

.collection_box .actions a,
.collection_box .actions span {
    background: transparent;
    width: 33.333%; 
    display: inline-block;
    color: transparent;
    cursor: pointer;
}

.collection_box .actions a:hover,
.collection_box .actions span:hover {
    padding: 20px 0px 0px 0px;
    color: #fff;
    background: transparent;
}

.collection_box .actions .view {
    background: url('../img/view.png') no-repeat 50%;
}
.collection_box .actions .view:hover {
    background: url('../img/view.png') no-repeat 50% 0%;
}
.collection_box .actions .edit {
    background: url('../img/pencil.png') no-repeat 50%;
    background-size: 20px;
}
.collection_box .actions .edit:hover {
    background: url('../img/pencil.png') no-repeat 50% 0%;
    background-size: 20px;
}
.collection_box .actions .delete {
    background: url('../img/rubbish.png') no-repeat 50%;
    background-size: 20px;
}
.collection_box .actions .delete:hover {
    background: url('../img/rubbish.png') no-repeat 50% 0%;
    background-size: 20px;
}

div[class*='stack'] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div[class*='stack'] {
    float: left;
    position: relative;
    margin: 10px 50px;
}
 
div[class*='stack'], div[class*='stack']:before, div[class*='stack']:after {
    border: 6px solid #fff;
    height: 250px; width: 250px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
 
div[class*='stack']:before, div[class*='stack']:after {
    background: #768590;
    content: "";
    position: absolute;
    z-index: -1;
}
 
div[class*='stack']:before {
    background: #eff4de;
}

/*STACK TWO*/
.stackone:before {
    top: 0px;
    left: 10px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
 
.stackone:after {
    top: 4px; left: -10px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}

/*STACK TWO*/
.stacktwo:before {
    top: 0px;
    left: -10px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
 
.stacktwo:after {
    top: 5px; left: 0px;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
}
 
/*STACK THREE*/
.stackthree:before {
    top: 5px;
    left: -15px;
    z-index: -1;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
 
.stackthree:after {
    top: -2px;
    left: -10px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.side_view .ideas {
    background: #f2f2f2;
    padding: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.13);
    margin-right: 10px;
    margin-bottom: 20px;
    border: solid 2px #cccccc;
}

.side_view h2 {
    font-size: 22px;
    color: #505050;
    display: inline-block;
}

.side_view .ideas .btn_style {
    float: right;
    color: #eff2ff;
    background: #004582;
    padding: 0px 5px;
}

.side_view .ideas .header {
    overflow: hidden;
    margin-bottom: 10px;
}

.side_view .ideas ul {
    max-height: 350px;
    overflow: auto;
    margin-bottom: 0px;
}

.side_view .ideas ul li {
    width: 130px;
    display: inline-block;
    margin: 1%;
    height: 130px;
    position: relative;
}

.side_view .ideas ul li p {
    position: absolute;
    font-size: 12px;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.71), rgba(255, 255, 255, 0));
    padding: 5px;
    width: 100%;
}

.side_view .ideas ul li .overlay {
    cursor: pointer;
    padding: 37px 10px;
    background: rgba(0,0,0,0.7) url('../img/plus.png') no-repeat 50%;
}

.side_view .ideas ul li:hover > .overlay {
    display: inline-block;
}

.side_view .ideas ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#idea_search {
    width: 200px;
    float: right;
    background: #fff;
}

#collectionDescli {
    width: calc(100% - 360px);
    display: inline-block;
}

#collectionDescli textarea {
    height: 256px;
}

#collectionImgli {
    position: relative;
    display: inline-block;
    width: 340px;
    margin-left: 20px;
    vertical-align: top;
}

#collectionImgli .overlay {
    top: 32px;
    height: 256px;
    background: #e2e2e2 url(../img/upload.png) no-repeat 50% 45%;
    padding-top: 135px;
    color: #7a7a7a;
    font-weight: bold;
    border: dashed 2px #a9a9a9;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    z-index: 0;
}

#collectionImgli .overlay:hover {
    background: #f1f1f1 url(../img/upload.png) no-repeat 50% 40%;
    border-color: #dcdcdc;
}

#collectionImgli:hover > .removeImg {
    background: rgba(255, 255, 255, 0.8) url(../img/upload.png) no-repeat 50% 40%;
    border-color: #dcdcdc;
    display: inline-block;
}

#collectionImgli img {
    height: 256px;
    object-fit: cover;
    width: 100%;
}

.collIdeas > div {
    margin: 0px 20px 20px 0px;
}

.collIdeas > div h2 {
    bottom: 0px;
}

.collIdeas > div .overlay {
    background: rgba(0,0,0,0.7) url('../img/cross.png') no-repeat 50%;
    cursor: pointer;
}

.collIdeas > div:hover .overlay {
    display: inline-block;
}

/***************************************************************

    JS LIBS

****************************************************************/

/* PopUp */

.c_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0px;
}

.c_modal .box {
    background: #fcf1ff;
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    border-radius: 2px;
}

.c_modal button {
    background: #955ea5;
    border: none;
    border-bottom: solid 3px #370075;
    margin: 0px 10px;
    padding: 5px 25px;
}

/* Light Box */

.cb_lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0px;
    text-align: center;
    padding-top: 110px;
    z-index: 2;
}

.cb_lightbox img {
    max-width: 80%;
}

.cb_lightbox .box {
    display: inline-block;
}

.cb_lightbox .left,
.cb_lightbox .right {
    width: 25px;
    height: 35px;
    display: inline-block;
    background: darkorange;
}

.cb_lightbox .right,
.cb_lightbox .left {
    filter: invert();
    background-size: contain;
}   

.cb_lightbox .left {
    background: url(../img/prev.png) no-repeat 50%;
}

.cb_lightbox .right {
    background: url(../img/next.png) no-repeat 50%;
}

.cb_gallerythumbnails {
    padding: 0px;
    margin: 10px auto;
    max-width: 600px;
}

.cb_gallerythumbnails li {
    display: inline-block;
    width: 45px;
}

.cb_current_img img {
    box-shadow: 0px 0px 5px rgba(255, 255, 238, 0.69);
    border: solid 1px #fff;
}

/* Auto Complete */

.YeahAutocomplete_list {
    background: #fff;
    position: absolute;
    margin-top: 38px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(0, 0, 0, 0.07);
    padding: 0px !important;
    z-index: 1;
}

.YeahAutocomplete_list li {
    display: block;
    padding: 5px !important;
    text-align: left;
    min-width: 230px;
}

.YeahAutocomplete_list li:hover {
    background: #00868c;
    color: #fff;
    cursor: pointer;
}

.yac_loading {
    background: #f2f2f2 url(../img/loading.gif) no-repeat 95% 50% !important;
    background-size: 20px !important;
}