
/*								                  	MOBILE ONLY
 ******************************************************************************************************************************/

@media (min-width: 500px) {

	.formBox form {
		width: 440px;
	}

	.formBox form label {
	    width: 155px;
	    text-align: left;
	    padding-right: 20px;
	    vertical-align: middle;
	}

	.formBox form input {
		width: 230px;
	}

}

/*								                  	  TABLETS
 ******************************************************************************************************************************/

@media (min-width: 768px) {
	
	

}

/*								                  	  LAP TOP
 ******************************************************************************************************************************/

@media (min-width: 992px) {
	

}


/*								                  	  DESK TOP
 ******************************************************************************************************************************/

@media (min-width: 1200px) {
	

	
}

/*								                  	  LARGE
 ******************************************************************************************************************************/

@media (min-width: 1400px) {



}