extends ../layout

block content

	include ../partials/header

	.cont
		ul.list#main_menu
			li
				a(href="/ideas").activeLink Ideas
			li
				a(href="/collections") Collections

		h2 #{idea.title} grdbgf

